/* Full Background Image (Hero Section) */
.full-bg {
    position: relative;
    height: 70vh; /* Adjust height (70% of viewport) */
    background: url('src/bg.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
  } 
.btn-email.btn-custom {
  background: linear-gradient(135deg, #333, #555);
  border: none;
  color: #fff;
}

.btn-linkedin.btn-custom {
  background: linear-gradient(135deg, #333, #555);
  border: none;
  color: #fff;
}
.resume-btn i {
  margin-right: 8px; /* Adds spacing between icon and text */
}



.footer {
  background-color: #111; /* Darker than Bootstrap bg-dark */
}

.footer h3 {
  font-weight: 600;
}

.contact-icon {
  color: #fff;
  font-size: 1.8rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.contact-icon:hover {
  color: #00c4ff; /* Highlight color */
  transform: scale(1.2);
}




.experience-card {
  background: linear-gradient(135deg, #e7d5f7, #f0e6f9);
  border-radius: 16px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.experience-card h4 {
  font-weight: bold;
}

.exp-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  background: black;
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background 0.3s ease;
}

.exp-btn:hover {
  background: #6a0dad; /* purple accent */
}

.object-fit-cover {
  object-fit: cover;
}


.project-card {
  background: #fff;
  border: 6px solid #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 20px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.project-bg {
  background: hsl(0, 0%, 100%);
}

    
    
