<div class="full-bg d-flex flex-column min-vh-70">
    <main class="flex-grow-1 d-flex align-items-center justify-content-center text-center text-white">
      <div class="container">
        <h1 class="jumbotron-heading">Dhinesh Moorthy</h1>
        <h2 class="jumbotron-heading">Unity / Indie Game Developer</h2>
        <p class="lead text-white">
          I am a Unity developer with a passion for creating immersive experiences in virtual reality. 
          Skilled in game development, backend systems, and VR applications. I enjoy blending technology 
          and creativity to bring interactive projects to life.
        </p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://github.com/DhineshMoorthy-gamedev" target="_blank" class="btn btn-linkedin btn-lg btn-custom">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/dhinesh-m-7627b6203" target="_blank" class="btn btn-linkedin btn-lg btn-custom">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:dhinesh_moorthy@icloud.com" class="btn btn-email btn-lg btn-custom">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
        <a href="src/MyResume.pdf" class="btn btn-outline-light resume-btn" download>
          <i class="fas fa-file-pdf"></i> Resume
        </a> 
      </div>
    </main>
  </div>