  <!-- Skills and Software Tools -->
  <div class="container my-5">
    <div class="row">
      <!-- Skills Column -->
      <div class="col-md-6">
        <h2 class="mb-4"><i class="fas fa-lightbulb"></i> Skills</h2>
  
        <h5 class="font-weight-bold"><i class="fas fa-dice"></i> Game Design</h5>
        <p>Level Design<br> Puzzle Design<br> Narrative Design<br> General Game Design<br> Gamification</p>
  
        <h5 class="font-weight-bold"><i class="fas fa-search"></i> Research</h5>
        <p>QA Testing<br> Usability Design and Testing<br> Research and Data Analysis</p>
  
        <h5 class="font-weight-bold"><i class="fas fa-tasks"></i> Production</h5>
        <p>Scrum Development</p>
  
        <h5 class="font-weight-bold"><i class="fas fa-language"></i> Languages</h5>
        <p>Fluent in Tamil, English and Hindi</p>
      </div>
  
      <!-- Software and Tools Column -->
      <div class="col-md-6">
        <h2 class="mb-4"><i class="fas fa-tools"></i> Software and Tools</h2>
  
        <h5 class="font-weight-bold"><i class="fas fa-cube"></i> Game Development Engines</h5>
        <p>Unity 3D</p>
  
        <h5 class="font-weight-bold"><i class="fas fa-network-wired"></i> Multiplayer Networking</h5>
        <p>Photon Fusion</p>
  
        <h5 class="font-weight-bold"><i class="fas fa-code-branch"></i> Source Control</h5>
        <p>Git <br> Github</p>
  
        <h5 class="font-weight-bold"><i class="fas fa-project-diagram"></i> Production</h5>
        <p>Jira<br> Trello</p>
  
        <h5 class="font-weight-bold"><i class="fas fa-comments"></i> Communication</h5>
        <p>Slack<br> Discord<br> Teams</p>
      </div>
    </div>
  </div>